body {
	padding: 20px 0;
}

.form {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form .form-heading {
	margin-bottom: 20px;
	text-align: center;
}
.form .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form .form-control:focus {
	z-index: 2;
}
.form input[type="text"] {
	margin-bottom: -1px;
	border-radius: 0;
}
.form input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.form-fields input[type="text"]:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 3px;
}

.active {
	font-weight: bold;
}